.jumbotron {
  height: 500px;
  padding-top: 3rem;
  background-image: url("img/sh2.png");
  background-size: cover;
  background-position: 0 -100px;
  background-attachment: fixed;
}

#projects {
  background-color: #a2d9ff;
}

section {
  padding-top: 8rem;
}

body {
  padding-top: 7rem;
}

@media (min-width: 992px) {
  .nav-link:hover::after {
    content: "";
    display: block;
    border-bottom: 3px solid black;
    width: 40%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }
  .nav-link {
    text-transform: uppercase;
    margin-right: 30px;
  }
}
