.jumbotron {
  height: 500px;
  padding-top: 3rem;
  background-image: url("img/sh2.png");
  background-size: cover;
  background-position: 0 -100px;
  background-attachment: fixed;
}

#projects {
  background-color: #a2d9ff;
}

section {
  padding-top: 8rem;
}

body {
  padding-top: 6rem;
}
